header{
    background-color: #EA80FC;
}

.logo-text{
    font-size: 14px;
    color:grey;
}

.logo-imagen{
    margin-left: 20px;
}

.redes-icons{
    width: 5%;
}

nav{
    background-color:#E040FB;
}

.margenes{
    margin-left: 30px;
    margin-top: 10px;
}

section{
    background-color: #F3E5F5;
}

.busqueda{
    background-color: 	#a6e3cf;
}
.margenes2{
    margin-top: 5px;
    margin-bottom: 5px;
}

footer{
    background-color: grey;
    margin-top: 10px;  
    color: white; 
}